.his{
    margin-top: 20px
}
.access{
    background-color: white; 
    padding-right:30px;
    padding-left:20px;
}
.over{
    overflow-y:hidden;
}
.color{
    color:#6499E9;
}
.backgroundhistory {
    background-color: #e5e5ff;
    min-height: 100vh;
}